<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Doloribus sapiente quidem pariatur ut explicabo nam fuga 
        nostrum repudiandae natus consectetur ab, illo eos quisquam 
        architecto reiciendis blanditiis. Distinctio, officiis! Blanditiis.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Doloribus sapiente quidem pariatur ut explicabo nam fuga 
            nostrum repudiandae natus consectetur ab, illo eos quisquam 
            architecto reiciendis blanditiis. Distinctio, officiis! Blanditiis.</p>
</body>
</html>